[run]
branch = True

[report]
omit =
 */**/fake*yaml
 */**/fake.py
 */lpot/ux/*
 */lpot/model/nets_factory.py
exclude_lines =
 pragma: no cover
 raise NotImplementedError
 raise TypeError
 if self.device == "gpu":
 if device == "gpu":
 except ImportError:
 onnx_version < ONNX18_VERSION
 onnx_version >= ONNX18_VERSION
